html,
body {
  overflow-x: hidden;
  font-family: sans-serif;
  font-size: 16px;
}
img {
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
}
a,
a:hover {
  text-decoration: none;
}
a,
a:focus,
input,
input:focus,
button,
button:focus {
  outline: none;
}
ol,
ul {
  list-style: none;
}
p {
  font-size: 16px;
}
